/standalone.properties
/iexcloudconnector.properties
/standalone.confluent.properties
/standalone.docker.confluent.properties
/distributed.docker.confluent.properties
/iexcloudconnector.json
/distributed.iexcloudconnector.json
/standalone.iexcloudconnector.properties
/distributed.docker.properties
